# CMake
/build_cmake/*
!/build_cmake/scripts
build
bin
*.o
*.so
*.dylib
empty.cpp

# EE Repos
vendor/couchbase-lite-core-EE

# Editors
.vscode
*.sublime-workspace

# Xcode
xcuserdata

# Python
python/CouchbaseLite/*.c
*.pyc

# Rust
Cargo.lock
bindings/rust/CouchbaseLite/target/
